.node-title {
  height: 40px;
  line-height: 40px;
  padding-right: 100px;
}

.node-level {
  display: flex;
  position: relative;
}

.node-box {
  width: 200px;
  position: relative;
}

.node-horizontal-parent {
  border-top: 1px solid red;
  position: absolute;
  width: 50px;
  left: -100px;
  top: 20px;
}

.node-virtical-parent {
  height: 100%;
  width: 1px;
  position: absolute;
  top: 0;
  left: -50px;
  background-color: red;
  box-sizing: border-box;
  border-top: 20px solid #fff;  
  border-bottom: 20px solid #fff;
}

.node-horizontal {
  border-top: 1px solid red;
  position: absolute;
  width: 50px;
  left: -50px;
  top: 20px;
}
